/* You can add global styles to this file, and also import other style files */

.dropdown-toggle::after {
  display: none !important;
}

.navbarCustom .navbar-menu-wrapper {
  width: calc(100% - 0px) !important;
}

.container {
  max-width: 1640px !important;
}

.navbarCustom {
  left: 0 !important;
  font-family: "Roboto", sans-serif;
  transition: left 0.25s ease, width 0.25s ease;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
}

body {
  background-color: #ffffff !important;
  font-family: Arial, Helvetica, sans-serif;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* === Plugin styles === */

@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
//@import '~@fullcalendar/core/main.css';
//@import '~@fullcalendar/daygrid/main.css';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";


@import "assets/styles/variables";
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";

@import "assets/styles/fonts";
@import "assets/styles/functions";

/* === Icon fonts === */
//@import "~@mdi/font/scss/materialdesignicons";
@import "~flag-icon-css/sass/flag-icon";


/* === Template mixins === */
@import "assets/styles/mixins/animation";
@import "assets/styles/mixins/badges";
@import "assets/styles/mixins/buttons";
@import "assets/styles/mixins/misc";
@import "assets/styles/mixins/color-functions";
@import "assets/styles/mixins/cards";
@import "assets/styles/mixins/blockqoute";
@import "assets/styles/mixins/popovers";
@import "assets/styles/mixins/tooltips";
@import "assets/styles/mixins/no-ui-slider";


/* === Core Styles === */
@import "assets/styles/background";
@import "assets/styles/typography";
@import "assets/styles/reset";
@import "assets/styles/responsive";
@import "assets/styles/misc";
@import "assets/styles/utilities";
@import "assets/styles/demo";
@import "assets/styles/spinner";
@import "assets/styles/dashboard";

/* === Components === */

@import "assets/styles/components/forms";
@import "assets/styles/components/checkbox-radio";
@import "assets/styles/components/icons";
@import "assets/styles/components/tables";
@import "assets/styles/components/buttons";
@import "assets/styles/components/breadcrumbs";
@import "assets/styles/components/cards";
@import "assets/styles/components/preview";
@import "assets/styles/components/user-profile";
@import "assets/styles/components/lists";
@import "assets/styles/components/bootstrap-progress";
@import "assets/styles/components/tabs";
@import "assets/styles/components/dropdowns";
@import "assets/styles/components/pagination";
@import "assets/styles/components/loaders/loaders";
@import "assets/styles/components/timeline";
@import "assets/styles/components/spinner";
@import "assets/styles/components/react-table";

@import "assets/styles/components/landing-screens/auth";

/* === Plugin Overrides === */
@import "assets/styles/components/plugin-overrides/react-bootstrap-table";
@import "assets/styles/components/plugin-overrides/react-table";

/* === Layout === */
@import "assets/styles/navbar";
@import "assets/styles/sidebar";
@import "assets/styles/footer";
@import "assets/styles/layout";
@import "assets/styles/settings-panel";